parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method getDefaultEvent\(\) of class Joomla\\Event\\Dispatcher\:
				2\.0 will be removed in 5\.0 Default event objects will no longer be supported$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Dispatcher.php
